body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(46, 44, 44);
    color: white;
    user-select: none;
}

.main {
    display:  flex;
    gap: 200px;
}

.left h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

.nopoClick:hover {
    opacity: 0.9;
    cursor: pointer;
}
.nopoClick:active {
    opacity: 0.7;
    transform: scale(1.02);
}

.ruoka-img {
    width: 45px;
    height: 45px;
}

.upgrade-img {
    width: 55px;
    height: 65px;
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    height: 60px;
    border: 4px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
}

.mid-section h4 {
    margin: 0px;
}

.mid-section p {
    margin: 0px;
}


.info-box {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    display: none;
    pointer-events: none;
    width: 220px;
    font-size: 14px;
    z-index: 100;
}

.upgrade:hover {
    cursor: pointer;
    border-color: rgb(255, 200, 100);
    background-color: rgba(255, 255, 255, 0.05);
}